body {
  background-color: rgb(107, 107, 107);
}

header {
  color: white;
  text-align: center;
  padding: 12px;
}

.card-body {
  background-color: rgb(121, 120, 120);
}

.forecastClass {
  /* margin-left: 5%; */
  margin-top: 8%;
  /* margin-right: 80%; */
  border: ridge 2px;
  border-color: rgb(255, 255, 255);
}

.card {
  font-weight: 800;
}